.env.yaml
rustserver.cfg

.idea
server/log
server/serverfiles/Bundles/
server/serverfiles/RustDedicated_Data/
server/serverfiles/cfg/
server/serverfiles/oxide/data/
server/serverfiles/oxide/logs/
server/serverfiles/steamapps/

server/serverfiles/Compiler.x86_x64
server/serverfiles/LinuxPlayer_s.debug
server/serverfiles/RustDedicated
server/serverfiles/UnityPlayer.so
server/serverfiles/UnityPlayer_s.debug
server/serverfiles/libsteam_api.so
server/serverfiles/runds.sh
server/serverfiles/steamclient.so

server/lgsm/config-lgsm
server/lgsm/data
server/lgsm/lock
server/lgsm/mods
server/lgsm/modules
server/lgsm/tmp

server/linuxgsm.sh
server/rustserver